body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

header {
    background-color: rgb(91, 91, 94);
    text-align: center;
    height: 100px;
    width: 100%;
}

.head {
    color:white;
}

.container {
    width: 100%;
    margin: auto;
    text-align: center;
}

.section {
    margin: 50px;
    padding: 20px;
    border: 2px solid black;
    display: inline-block;
    vertical-align: top;
}

#section1 {
    
    transition-duration: 5s;
    transition-property: all;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
    width: 500px;
    height: 250px;
    transform: scale(0.7, 0.7);
    
}

#section1:hover {
    transform: skewY(10deg);
    opacity: 0.6;
    background-color: bisque;
} 

footer {
    background-color: rgb(98, 100, 98);
    text-align: center;
    margin: 0px;
    height: 100px;
    width: 100%;
    padding: 10px;
}

.foot {
    color: white;
}

h1 {
    padding: 30px;
    margin: 0;
}

#image-container {
    width: 60%;
    height: auto;
    transition: all;
    overflow: hidden; 
}

#image-container:hover {
    transform: rotate(10deg); 
    transition-duration: 5s;
    transition-delay: 2s;
    border-radius: 50% 50% 50% 50%;
}

#section2 {
    width: 350px;
    height: 350px;
    transform: scale(0.7, 0.7);
    transition-duration: 5s;
    transition-property: all;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
}

#section2:hover {
    background-color: bisque;
    transform: scale(1.2, 1.2);
}

#section3 {
    width: 450px;
    height: 30px;
    transition-duration: 5s;
    transition-property: all;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
     transform: scale(0.7, 0.7);

}

#section3:hover {
    transform: skewY(10deg);
    opacity: 0.6;
}

#section4 {
    width: 450px;
    height: 30px;
    transition-duration: 5s;
    transition-property: all;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
    transform: scale(0.7, 0.7);

    
}

#section4:hover {
    transform: translate(8px, 12px);
    color: red;
}
